@charset "UTF-8";
/* product.css */

#content2 {
    width:1100px;
    height:800px;
    background-color:#ffffff;
    overflow:hidden;
}

.product {
    padding-top:50px;
    width:90%;
    margin: 10px auto;
    display: flex;
}

.product img {
    border:solid #777777 1px;
}

.product a:first-child {
    flex:1;
    width:30%;
}

.product a:nth-child(2) {
    flex:1;
    width:30%;
}

.product a:nth-child(3) {
    flex:1;
    width:30%;
}
